{{extend 'layout.html'}}
<html>
<head>
<title>LOGIN</title>
</head>
<body>
<center><h4 style="margin:0;">Welcome to winux Quiz</h4></center>
<h5>Instructions :</h5>
1.There are 20 questions,for each correct answer you gain 10 points,for wrong you lose 5 points.
<br>
2.There are some options like fifty-fifty,... to use these you need to lose some points.
<br>
3.You can view your status containing your rank,questions done,.. at right side of the window.
<br>
4.Click continue to take quiz,All the best !
<br>
<center>{{=go}}</center>
<br>
<center><div style="width:100%;height:30%;">
</div></center>
</body>
</html>
